.bar {
    background-color: #fff;
    width: 100%;
    height: 42px;
    z-index: 9999;
    padding-top: 6px;
    -webkit-transition: background-color 0.2s;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0px;
}

.tabWindow {
    background-color: #fff;
    position: relative;
}

.content {
    margin-top: 48px;
}

.searchBox {
    border-radius: 0px;
    margin-top: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    height: 32px;
    width: calc(100% - 195px);
    margin-left: 16px;
    -webkit-transition: background-color 0.2s;
    float: left;
}

.webview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    height: 60px;
    margin-top: 48px;
}

.searchInput {
    background-color: transparent;
    border: none;
    color: #444;
    margin-left: 8px;
    margin-top: 4px;
    width: calc(100% - 120px);
    height: calc(100% - 10px);
    font-size: 15px;
    outline: none;
}

.suggestions {
    top: 0;
    position: absolute;
    width: 100%;
    margin-top: 46px;
    height: auto;
    max-height: 245px;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
}

.suggestions-ul {
    font-size: 14px;
    padding-left: 0;
    overflow: hidden;
    position: relative;
    height: inherit;
}

.suggestions-ul>li {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 8px;
    padding-bottom: 6px;
    margin-left: 142px;
    margin-right: 52px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 1px;
}

.suggestions-ul>li:hover {}

.selected {
    background-color: #2196F3;
    color: #fff;
}

.backBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-left: 4px;
    float: left;
    transition: 0.2s all;
}

.backBtn:disabled {
    opacity: 0.5;
}

.backBtn:hover {
    opacity: 1;
    transition: 0.2s all;
}

.forwardBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-left: 4px;
    float: left;
    transition: 0.2s all;
}

.forwardBtn:hover {
    opacity: 1;
    transition: 0.2s all;
}

.refreshBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-left: 4px;
    float: left;
    transition: 0.2s all;
}

.refreshBtn:hover {
    opacity: 1;
    transition: 0.2s all;
}

.menuBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-left: 12px;
    float: left;
    transition: 0.2s all;
}

.menuBtn:hover {
    opacity: 1;
    transition: 0.2s all;
}

.extBtn {
    opacity: 0.6;
    height: 38px;
    width: 38px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 8px;
    float: right;
    transition: 0.2s all;
}

.extBtn:hover {
    opacity: 1;
    transition: 0.2s all;
}

.searchBox i {
    font-size: 18px;
    margin-top: 7px;
    margin-left: 6px;
    float: left;
}

.searchBox i2 {
    font-size: 18px;
    margin-top: 7px;
    margin-right: 3px;
    float: right;
}

.micBtn {
    font-size: 18px;
    margin-left: 3px;
    margin-top: 7px;
    margin-right: 6px;
    float: right;
}

.rdBtn {
    font-size: 18px;
    margin-right: 3px;
    float: right;
}

.btn-icon {
    margin-top: 8px;
    margin-left: 8px;
}

.status {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10000;
    border-style: solid;
    border-width: 1px;
    padding: 5px 8px;
    border-color: rgb(97, 97, 97);
    display: none;
    background-color: rgb(242, 242, 242);
    color: rgb(97, 97, 97);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 100;
}
.bookmarks-bar {
    height: 28px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    display: flex; /* Important for alignment */
    align-items: center;
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    display: none; /* Hidden by default */
}

.bookmark-item {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    margin-right: 4px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    color: #333;
    max-width: 150px;
    transition: background-color 0.2s;
}

.bookmark-item:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.bm-icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.bm-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}